<mat-card>
  <form  (submit)="onSearch(eventsForm)" #eventsForm="ngForm" > 
    <mat-form-field>
        <input matInput name="name"  maxlength="200" minlength="4" ngModel type="text" placeholder="Name" #nameInput="ngModel"  required >
        <mat-error *ngIf="nameInput.invalid">Please enter a valid  name.</mat-error>
    </mat-form-field>   
    <button mat-icon-button color="accent"><mat-icon>search</mat-icon>    </button>
  </form>
 
<div *ngIf="searchedEvents.length >0  " class="container"> 
  <div class="row">
    <mat-card class="col-11 col-md-3 ml-auto mr-auto mt-2" [ngClass]="i.color"  *ngFor="let i of searchedEvents">
 
      <p>Name :  {{i.name}} </p><p> Description : {{i.description}} </p> 
      <p>Date : {{i .date}}</p>
      <p>Start Time : {{i.start_time}} </p><p>  End Time : {{i.end_time}}</p>   
    </mat-card> 
  </div>  
</div>
<div  *ngIf="display">
  <div *ngIf="searchedEvents.length == 0">
    No event found
  </div> 
</div> 
</mat-card>
 <br>
<div *ngIf="monthlyEvents.length" class="small">
  <button mat-icon-button color="primary" style="float: right;" (click)="delete()" *ngIf="date.length > 0"><mat-icon>delete </mat-icon></button>
          <button mat-icon-button color="primary" style="float: right;" (click)="edit()" *ngIf="date.length > 0"><mat-icon>edit</mat-icon>
          </button> 
</div> 
 <div  *ngIf="monthlyEvents.length" >
  Events of the day {{ date[0].date}} <br>  
  <br>
       <div class="row">
        <div *ngFor="let i  of date[0].events;let idx  = index" class="col-11 col-md-5 ml-auto mr-auto mt-2" >  
          <mat-card [ngClass]="i.color">
            <button mat-icon-button color="primary" style="float: right;" (click)="deleteEvent(idx)" *ngIf="date.length > 0"><mat-icon>delete </mat-icon></button>

            <p>Name :  {{i.name}} </p><p> Description : {{i.description}} </p> 
          <p>Start Time : {{i.start_time}} </p><p>  End Time : {{i.end_time}}</p>   
         
          <p *ngIf="i.remind">Alerts in {{i.alerts | amDifference: today :'minutes' : true | number : '1.2-2' }}  minutes</p>
          </mat-card> 
        </div>
      </div> 
 </div> 
<div *ngIf="monthlyEvents.length" class="row" > 
  <button mat-icon-button color="primary" class="col-1 m-auto" style="margin-left: auto; margin-right: auto;"  (click)="add =  true" *ngIf="date.length > 0 && !add"><mat-icon>add_box</mat-icon>
  </button> 
</div>
<div *ngIf="monthlyEvents.length">
  <button mat-icon-button color="accent"  (click)="add = false" *ngIf="date.length > 0 &&  add" style="float: right;"><mat-icon>replay</mat-icon>
  </button>
</div>
<app-addevents  *ngIf="add"></app-addevents>